name: wrangler
services:
  postgres:
    image: docker.io/postgres:18
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "wrangler"
      TZ: "Europe/Warsaw"
    commands:
      - c logging_collector=on
      - c log_statement=all
      - c log_duration=on
      - c log_min_messages=debug5
      - c log_min_error_statement=debug5
      - c log_error_verbosity=verbose

  wrangler:
    image: gitea.lan/crustacean/child_wrangler:latest
    ports:
      - 2137:2137
    environment:
      CONNECTION_STRING: "postgres://admin:PzM9ZQaVx58rDF0hwzhri2iqeSafMWCMyTEfjsZPmNuxIX2WqaWmN1lE91vFu2Bj@postgres/wrangler"
      LEPTOS_SITE_ADDR: "0.0.0.0:2137"
      TZ: "Europe/Warsaw"

  message_daemon:
    image: gitea.lan/crustacean/child_wrangler:latest
    environment:
      DATABASE_URL: "postgres://admin:PzM9ZQaVx58rDF0hwzhri2iqeSafMWCMyTEfjsZPmNuxIX2WqaWmN1lE91vFu2Bj@postgres/wrangler"
      TZ: "Europe/Warsaw"

  
