name: wrangler
services:
  postgres:
    image: docker.io/postgres:18
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
      POSTGRES_DB: "wrangler"
      TZ: "Europe/Warsaw"

  wrangler:
    image: gitea.lan/crustacean/child-wrangler:latest
    ports:
      - 2137:2137
    environment:
      CONNECTION_STRING: "postgres://admin:admin@postgres/wrangler"
      LEPTOS_SITE_ADDR: "0.0.0.0:2137"
      RUST_LOG: debug
      TZ: "Europe/Warsaw"
