[workspace]
resolver = "3"
members = ["child_wrangler", "message_daemon", "modem_connector", "dto"]

[profile.wasm-release]
inherits = "release"
opt-level = 'z'
lto = true
codegen-units = 1
panic = "abort"

