name: Release Child Wrangler image
on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ secrets.k8s_cert}}" | base64 -d > /usr/local/share/ca-certificates/kubernetes.crt
      - run: mkdir -p /etc/docker/certs.d/gitea.lan/ && echo "${{ secrets.k8s_cert}}" | base64 -d > /etc/docker/certs.d/gitea.lan/ca.crt
      - run: update-ca-certificates 
      - name: Check out repository code
        uses: actions/checkout@v4
      - run: docker login --username crustacean --password ${{ secrets.REGISTRY_PASSWORD }} gitea.lan
      - run: docker build -t gitea.lan/crustacean/child-wrangler:$(git rev-parse --short HEAD) 
          --platform linux/amd64,linux/arm64
          -t gitea.lan/crustacean/child-wrangler:latest 
          -f Containerfile.wrangler
          --push
          .
      - run: docker build -t gitea.lan/crustacean/message-daemon:$(git rev-parse --short HEAD) 
          --platform linux/amd64,linux/arm64
          -t gitea.lan/crustacean/message-daemon:latest 
          -f Containerfile.messenger
          --push
          .
      - run: docker build -t gitea.lan/crustacean/modem-connector:$(git rev-parse --short HEAD) 
          --platform linux/amd64,linux/arm64
          -t gitea.lan/crustacean/modem-connector:latest 
          -f Containerfile.connector
          --push
          .
