name: Release Child Wrangler image
on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ secrets.k8s_cert}}" | base64 -d > /usr/local/share/ca-certificates/kubernetes.crt
      - run: echo "${{ secrets.k8s_cert}}" | base64 -d > /etc/ssl/certs/kubernetes.crt
      - run: update-ca-certificates 
      - name: Check out repository code
        uses: actions/checkout@v4
      - run: docker login --username crustacean --password ${{ secrets.REGISTRY_PASSWORD }} gitea.lan
      - run: docker build -t gitea.lan/crustacean/child-wrangler
          -t gitea.lan/crustacean/child-wrangler:$(git rev-parse --short HEAD) 
          -f Containerfile.armv7
          --push
          --target child_wrangler
          .
