:root {
  interpolate-size: allow-keywords;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;

  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  --primary: #000000;
  --secondary: #FFFFFF;
  --black-50: #e5e5e5;
  --black-100: #cbcbcb;
  --black-200: #b2b2b2;
  --black-300: #9a9a9a;
  --black-400: #828282;
  --black-500: #6b6b6b;
  --black-600: #555555;
  --black-700: #404040;
  --black-800: #2c2c2c;
  --black-900: #191919;
  --black-950: #0f0f0f;
  --black-1000: #080808;

  --padding: "1em";
  --radius: "5px";
}

body {
  padding: 0.5em;
}

html,
main,
body {
  display: flex;
  flex-flow: column;
  background-color: var(--black-950);
  color: white;
  margin: 0;
  gap: 0.5em;
  flex: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

button,
input {
  text-decoration: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;
  outline: none;
}

input {
  background-color: var(--black-700);
}

.h2 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.background-2 {
  background-color: var(--black-900);
}

.background-3 {
  background-color: var(--black-800);
}

.padded {
  padding: 0.5em;
}

.rounded {
  border-radius: 5px;
}

.interactive {
  background-color: var(--black-800);
  overflow: hidden;
}

.interactive:hover {
  background-color: var(--black-700);
  cursor: pointer;
}

.interactive:focus:not(button) {
  outline: none;
  background-color: var(--black-700);
  cursor: pointer;
}

.interactive:active {
  background-color: var(--black-600);
}

.horizontal {
  display: flex;
  flex-flow: row nowrap;
}

.vertical {
  display: flex;
  flex-flow: column nowrap;
}

.flex {
  display: flex;
}

.gap {
  gap: 0.5em;
}

.flex-1 {
  flex: 1;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between
}

.absolute-position {
  position: absolute;
}

.relative {
  position: relative;
}

label {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  font-size: 0.75em;
  flex-flow: column;
  width: fit-content;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gray {
  color: gray;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.green {
  color: green;
}

.dashed {
  outline: 1px dashed;
}

.icon {
  margin: 0;
  padding: 0;

  svg {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
  }
}

.green-outline {
  outline: 1px solid green;
}

.absolute {
  position: absolute;
}

.success {
  background-color: green;
}

.error {
  background-color: rgb(100, 15, 15);
  outline: 2px dashed red;
  margin: 10px;
}

.reverse-vertical {
  display: flex;
  flex-flow: column-reverse;
}

.hide-overflow {
  overflow: hidden;
}

.gap-2 {
  gap: 0.125em;
}

.gap-0 {
  gap: 1em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  z-index: 2;
  filter: drop-shadow(5px 5px 5px black);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.fast-transition {
  transition-duration: 0.25s;
}

button.fast-transition {
  >svg {
    transition-duration: 0.25s;
  }
}

.tree {
  :not(.expanded)>span>button>svg {
    transform: rotate(180deg);
  }

  ul {
    position: relative;
  }

  .expanded {
    >span>button {
      >svg {
        transform: rotate(0);
      }
    }

    >ul {
      height: 0;
      overflow: hidden;
    }
  }

  :not(.expanded) {
    >ul {
      overflow: hidden;
    }
  }

  ul::before {
    position: absolute;
    background-color: grey;
    border-radius: 5px;
    width: 5px;
    height: calc(100% - 0.25em - 2.5px);
    content: "";
    left: calc(0.5em - 2.5px);
    top: 0.25em;
  }
}

.no-select {
  user-select: none;
}

.left-align {
  justify-content: left;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5em;
  grid-auto-rows: 2em 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid {
  display: grid;
}


.highlight {
  outline: 2px solid white;
}

.outline-green {
  font-weight: 500;
  color: green;
}

.outline-yellow {
  color: yellow;
}

.outline-red {
  color: red;
}

.outline-gray {
  outline: 1px solid gray;
}

.outline-white {
  outline: 2px solid white;
}

.designated {
  outline: 1px solid white;
}

.interactive:disabled {
  color: gray;
}

.interactive:hover:disabled {
  cursor: unset;
  background-color: var(--black-800);
}

.w-20 {
  min-width: 20em;
  max-width: 20em;
}

.text-left {
  text-align: left;
}

.flex-start {
  justify-content: flex-start;
}

.self-start {
  align-self: start;
}

.self-end {
  align-self: end;
}

.self-center {
  align-self: center;
}

.fit-content {
  width: fit-content;
}

.icon-button {
  border-radius: 5px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-break {
  position: relative;

  span {
    position: relative;
    color: gray;
    background-color: var(--black-900);
    padding: 0.5em;
    user-select: none;
  }
}

.date-break::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 50%;
}

.trail {
  >*:not(:first-child)::before {
    display: inline-block;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="white"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>');
    height: 24px;
  }
}

.overflow-auto {
  overflow: auto;
}

.max-h-20 {
  >* {
    min-height: 2.5em;
  }

  max-height: 20em;
  overflow: auto;
}

.content-green {
  background-color: rgb(50, 125, 50);
  outline: 2px solid rgb(0, 200, 0);
  padding: 0.5em;
  border-radius: 5px;
}

.content-red {
  background-color: rgb(125, 50, 50);
  outline: 2px solid rgb(200, 0, 0);
  padding: 0.5em;
  border-radius: 5px;
}

.content-blue {
  background-color: rgb(50, 50, 125);
  outline: 2px solid rgb(0, 0, 200);
  padding: 0.5em;
  border-radius: 5px;
}

.pill {
  padding: 0.5em;
  border-radius: 1em;
  background-color: var(--black-400);
  width: fit-content;
}


.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.max-height-15 {
  max-height: 15em;
  overflow: auto;
}

.flex-4 {
  flex: 4;
}

.h3 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.outline-1-hover:hover {
  outline: 1px solid white;
}

.rounded-3 {
  border-radius: 1em;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-decoration {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.align-start {
  align-items: flex-start;
}


.rounded-decoration::before {
  content: "";
  width: 1em;
  height: 1em;
  background-color: var(--background-color);
  display: inline-block;
  border-radius: 5px;
}

.pretty-background {
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px white;
}

.anchor-start {
  anchor-name: --tooltip-anchor;
}

.anchor-end {
  position-anchor: --tooltip-anchor;
  position: absolute;
}

.column-grid-3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5em;
  overflow: auto;
}


table {
  border-collapse: collapse;
  text-align: left;
}

th {
  position: sticky;
  background-color: var(--black-800);
  top: 0;
}

.table-wrapper {
  overflow: auto;
}

.background-1 {
  tr {
    background-color: var(--black-950);
  }

  tr:nth-child(odd) {
    background-color: var(--black-1000);
  }
}


.calendar-anchor {
  anchor-name: --calendar-anchor-1;
}

.calendar-tooltip {
  position: absolute;
  position-anchor: --calendar-anchor-1;
  position-area: center start;
  backdrop-filter: blur(5px);
  padding: 1em;

  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  z-index: 2;
}

.invisible {
  visibility: hidden;
}

@media only screen and (max-width: 1000px) {
  .min-w-10 {
    display: none;
  }
}
